/********************************* FONTS *********************************/
/********************************* CORES *********************************/
.cpreto {
  color: #000;
}
.bpreto {
  background-color: #000;
}
.fpreto {
  fill: #000;
}
.cescuro {
  color: #222;
}
.bescuro {
  background-color: #222;
}
.fescuro {
  fill: #222;
}
.cgrafite {
  color: #333;
}
.bgrafite {
  background-color: #333;
}
.fgrafite {
  fill: #333;
}
.ccinzaescuro {
  color: #777;
}
.bcinzaescuro {
  background-color: #777;
}
.fcinzaescuro {
  fill: #777;
}
.ccinza {
  color: #AAA;
}
.bcinza {
  background-color: #AAA;
}
.fcinza {
  fill: #AAA;
}
.ccinzaclaro {
  color: #EEE;
}
.bcinzaclaro {
  background-color: #EEE;
}
.fcinzaclaro {
  fill: #EEE;
}
.cgelo {
  color: #F2F2F2;
}
.bgelo {
  background-color: #F2F2F2;
}
.fgelo {
  fill: #F2F2F2;
}
.cbranco {
  color: #FFF;
}
.bbranco {
  background-color: #FFF;
}
.fbranco {
  fill: #FFF;
}
/********************************* GERAL *********************************/
/*********************************** FORMAS ***********************************/
/*********************************** FONTES TEXTOS ***********************************/
/*********************************** CLASSES PRONTAS ***********************************/
