/********************************* FONTS *********************************/
/********************************* CORES *********************************/
.cdino {
  color: #64C2A6;
}
.bdino {
  background-color: #64C2A6;
}
.fdino {
  fill: #64C2A6;
}
.cleaf {
  color: #AADEA7;
}
.bleaf {
  background-color: #AADEA7;
}
.fleaf {
  fill: #AADEA7;
}
.colive {
  color: #E6F69D;
}
.bolive {
  background-color: #E6F69D;
}
.folive {
  fill: #E6F69D;
}
.crust {
  color: #E66D44;
}
.brust {
  background-color: #E66D44;
}
.frust {
  fill: #E66D44;
}
.cclay {
  color: #FEAE65;
}
.bclay {
  background-color: #FEAE65;
}
.fclay {
  fill: #FEAE65;
}
.cbone {
  color: #F4F1F0;
}
.bbone {
  background-color: #F4F1F0;
}
.fbone {
  fill: #F4F1F0;
}
.cpreto {
  color: #000;
}
.bpreto {
  background-color: #000;
}
.fpreto {
  fill: #000;
}
.cescuro {
  color: #222;
}
.bescuro {
  background-color: #222;
}
.fescuro {
  fill: #222;
}
.cgrafite {
  color: #333;
}
.bgrafite {
  background-color: #333;
}
.fgrafite {
  fill: #333;
}
.ccinzaescuro {
  color: #777;
}
.bcinzaescuro {
  background-color: #777;
}
.fcinzaescuro {
  fill: #777;
}
.ccinza {
  color: #AAA;
}
.bcinza {
  background-color: #AAA;
}
.fcinza {
  fill: #AAA;
}
.ccinzaclaro {
  color: #EEE;
}
.bcinzaclaro {
  background-color: #EEE;
}
.fcinzaclaro {
  fill: #EEE;
}
.cgelo {
  color: #F2F2F2;
}
.bgelo {
  background-color: #F2F2F2;
}
.fgelo {
  fill: #F2F2F2;
}
.cbranco {
  color: #FFF;
}
.bbranco {
  background-color: #FFF;
}
.fbranco {
  fill: #FFF;
}
/********************************* GERAL *********************************/
/*********************************** FORMAS ***********************************/
/*********************************** FONTES TEXTOS ***********************************/
/*********************************** CLASSES PRONTAS ***********************************/
